<footer class="bg-glass-md-20 border-top">
  <div class="bg-dark text-light positioned-sticky sticky-bottom p-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h5>About</h5>
          <p>Lorem Ipsum</p>
          <a href="/about" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-card-text"></i>&nbspAbout</a><br />
          <a href="/privacy" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-fingerprint"></i>&nbspPrivacy Policy</a><br />
          <a href="/terms" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-list-columns-reverse"></i>&nbspTerms</a>
        </div>
        <div class="col">
          <h5>Sociální sítě</h5>
          <p>
            Zde můžete najít mé účty na sociálních sítích.
          </p>
          <a href="https://www.youtube.com/channel/UCMwL6UeRROMKCiaSE9Up4kw"
            class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-youtube"></i>&nbspYouTube</a><br />
          <a href="https://twitter.com/HyScript7" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-twitter"></i>&nbspTwitter</a><br />
          <a href="https://www.instagram.com/hyscript7/" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-instagram"></i>&nbspInstagram</a><br />
          <a href="https://www.reddit.com/user/HyScript7" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-reddit"></i>&nbspReddit</a><br />
        </div>
        <div class="col">
          <h5>Source Code</h5>
          <p>
            You can view the source code of the application on GitHub or the application documentation on google drive.
          </p>
          <a href="https://github.com/HyScript7/ProCM" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-github"></i>&nbspGitHub</a><br />
          <a href="https://github.com/HyScript7/ProCM" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-file-earmark-text"></i>&nbspDocumentation</a><br />
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
