<footer>
  <div class="bg-dark text-light positioned-sticky sticky-bottom p-3">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">About</h5>
          <p class="card-text">ABOUT APPLICATION</p>
          <a
            href="/about"
            class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-card-text"></i>&nbspAbout</a
          ><br>
        </div>
        <div class="col">
          <h5 class="card-title">Source Code</h5>
          <p class="card-text">
            You can view the source code of the application on GitHub!
          </p>
          <a
            href="https://github.com/HyScript7/ProCM"
            class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-github"></i>&nbspGitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
