<footer class="bg-glass-md-20 border-top">
  <div class="bg-dark text-light positioned-sticky sticky-bottom p-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h5>About</h5>
          <p>Lorem Ipsum</p>
          <a href="/about" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-card-text"></i>&nbspAbout</a><br />
          <a href="/privacy" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-fingerprint"></i>&nbspPrivacy Policy</a><br />
          <a href="/terms" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-list-columns-reverse"></i>&nbspTerms</a>
        </div>
        <div class="col">
          <h5>Source Code</h5>
          <p>
            You can view the source code of the application on GitHub!
          </p>
          <a href="https://github.com/HyScript7/ProCM" class="card-link link-secondary-dark text-decoration-none"><i
              class="bi bi-github"></i>&nbspGitHub</a><br />
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
