{% extends "index.html" %} {% block content %} {% include
"components/navbar.html" %}{% include "components/flashes.html" %}
<div class="container-fluid mt-1 text-center">
  <header>
    <!-- TODO: Carousel, Main Title -->
    <h1>{{brand}}</h1>
    <div id="mainCarouselProCM" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/carousel_1.png" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="/static/img/carousel_2.png" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="/static/img/carousel_3.png" class="d-block w-100" alt="Image 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mainCarouselProCM" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mainCarouselProCM" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
</div>
<div class="my-3 container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="container text-justify">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Nunc mi ipsum faucibus
          vitae. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc.
          Senectus et netus et malesuada fames ac turpis. Commodo odio aenean sed
          adipiscing diam donec adipiscing. Risus pretium quam vulputate dignissim
          suspendisse in. Sed felis eget velit aliquet sagittis. Risus at ultrices mi
          tempus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare
          massa. Vel fringilla est ullamcorper eget. Aliquam purus sit amet luctus
          venenatis lectus magna. Ornare quam viverra orci sagittis eu volutpat. Id
          semper risus in hendrerit gravida rutrum quisque. Orci dapibus ultrices in
          iaculis nunc sed augue lacus viverra. Pellentesque habitant morbi tristique
          senectus et netus. Nunc mattis enim ut tellus elementum sagittis vitae et
          leo.
        </p>

        <p>
          Nunc vel risus commodo viverra maecenas accumsan lacus. Felis donec et odio
          pellentesque diam. Malesuada fames ac turpis egestas maecenas pharetra.
          Semper eget duis at tellus. Consequat mauris nunc congue nisi vitae suscipit
          tellus mauris. Lorem mollis aliquam ut porttitor leo. Non pulvinar neque
          laoreet suspendisse interdum consectetur. Tortor at auctor urna nunc.
          Pharetra massa massa ultricies mi. Enim tortor at auctor urna. Neque
          volutpat ac tincidunt vitae semper quis. Neque laoreet suspendisse interdum
          consectetur libero. Diam in arcu cursus euismod quis viverra nibh cras
          pulvinar. Ultricies tristique nulla aliquet enim tortor at auctor. Id
          consectetur purus ut faucibus pulvinar elementum. Pellentesque sit amet
          porttitor eget dolor morbi non. Tempor id eu nisl nunc mi ipsum faucibus.
          Nec feugiat nisl pretium fusce. Nunc pulvinar sapien et ligula. Pellentesque
          elit ullamcorper dignissim cras tincidunt lobortis.
        </p>

        <p>
          Sagittis id consectetur purus ut faucibus pulvinar elementum integer.
          Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae
          nunc. Elementum eu facilisis sed odio morbi. Dolor purus non enim praesent
          elementum. Vestibulum morbi blandit cursus risus at. Augue lacus viverra
          vitae congue eu. Aliquam id diam maecenas ultricies. At erat pellentesque
          adipiscing commodo elit at imperdiet. Quam viverra orci sagittis eu
          volutpat. Morbi non arcu risus quis varius quam quisque id. Egestas integer
          eget aliquet nibh praesent. Ut placerat orci nulla pellentesque dignissim
          enim sit amet venenatis. Lobortis feugiat vivamus at augue eget arcu dictum
          varius duis. Odio ut enim blandit volutpat maecenas volutpat blandit
          aliquam. Nisi est sit amet facilisis magna. Imperdiet proin fermentum leo
          vel. Sodales ut eu sem integer vitae justo eget. Elementum facilisis leo vel
          fringilla est ullamcorper eget nulla. Vel quam elementum pulvinar etiam.
          Amet porttitor eget dolor morbi non arcu risus.
        </p>

        <p>
          At elementum eu facilisis sed odio morbi quis commodo odio. Etiam tempor
          orci eu lobortis. Aenean euismod elementum nisi quis. Fermentum dui faucibus
          in ornare quam. Ipsum nunc aliquet bibendum enim facilisis gravida neque
          convallis. Metus vulputate eu scelerisque felis imperdiet proin fermentum
          leo. Posuere urna nec tincidunt praesent. Scelerisque fermentum dui faucibus
          in ornare. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
          ullamcorper. Id semper risus in hendrerit gravida. Cursus in hac habitasse
          platea dictumst quisque sagittis purus. Nisi vitae suscipit tellus mauris a.
          In mollis nunc sed id semper. Viverra vitae congue eu consequat ac felis
          donec. Neque egestas congue quisque egestas diam in. Consectetur adipiscing
          elit ut aliquam purus sit amet luctus venenatis. Est velit egestas dui id
          ornare arcu odio ut. Aliquam malesuada bibendum arcu vitae elementum. Congue
          mauris rhoncus aenean vel elit scelerisque mauris pellentesque.
        </p>

        <p>
          Nulla aliquet enim tortor at auctor urna nunc id cursus. Ornare suspendisse
          sed nisi lacus sed viverra tellus in hac. Tincidunt dui ut ornare lectus sit
          amet est placerat. Malesuada fames ac turpis egestas maecenas pharetra
          convallis posuere morbi. Mi proin sed libero enim. Ac orci phasellus egestas
          tellus rutrum tellus. Senectus et netus et malesuada fames ac turpis
          egestas. Amet nisl suscipit adipiscing bibendum est. Eu tincidunt tortor
          aliquam nulla facilisi cras. Congue mauris rhoncus aenean vel. Leo urna
          molestie at elementum eu facilisis. Proin sed libero enim sed faucibus
          turpis in eu mi.
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      {% include "components/sidebar.html" %}
    </div>
  </div>
</div>
{% include "components/footer.html" %} {% endblock %}
