{% extends "index.html" %} {% block content %} {% include
"components/navbar.html" %}{% include "components/flashes.html" %}
<div class="container-fluid mt-1">
  <header>
    <div>
      <a href="/blog/" class="link link-light text-decoration-none"
        >&#60;&#60; Back</a
      ><span class="text-center"><h1>{{post.title}}</h1></span>
    </div>
  </header>
</div>
<div class="my-3 container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="container">{{post.content | safe}}</div>
    </div>
    <div class="col-lg-3">{% include "components/sidebar.html" %}</div>
  </div>
</div>
{% include "components/footer.html" %} {% endblock %}
