<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100 position-sticky sticky-top"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">{{brand}} Admin</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    {% for ni in navbar %}
    <li class="nav-item">
      <a
        href="{{ni[2] if not page == ni[0] else '#'}}"
        class="nav-link{{' active' if page == ni[0] else ' text-white'}}"
        aria-current="page"
      >
        <i class="bi {{ni[1]}}"></i>
        {{ni[0]}}
      </a>
    </li>
    {% endfor %}
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="/static/img/logo.svg"
        alt="Pfp"
        class="rounded-circle me-2"
        width="32"
        height="32"
      />
      <strong>{{logon[1].username}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="/user/">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/api/v2/auth/logout">Sign out</a></li>
    </ul>
  </div>
</div>
