{% extends "admin/index.html" %} {% block dash %}

<div class="text-center">
  <h1>{{page}}</h1>
</div>
<div class="row">
  <div class="col">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">Card footer</div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">Card footer</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">Card footer</div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">Card footer</div>
    </div>
  </div>
</div>
{% endblock %}
