{% extends "admin/index.html" %} {% block dash %}
<div class="text-center">
  <h1>{{page}}</h1>
  <hr />
</div>
<div class="container-fluid">
  <p>Register a new project</p>
  <form id="editor-controls" method="post">
    <div class="container-fluid d-flex flex-column mb-3">
      <div class="input-group mb-3">
        <span class="input-group-text">Project</span>
        <select class="form-select" name="name" aria-label="Group selector">
          {% for name in projects[0] %} {% if name not in projects[1] %}
          <option value="{{name}}">{{name}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="btn-group w-100" role="group" aria-label="Editor Controls">
        <button
          type="submit"
          class="btn btn-primary"
          formaction="/api/v2/project/create/"
        >
          Create
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          formaction="/admin/projects/"
          method="get"
          formmethod="get"
        >
          View all projects
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
